p {
    background-color: rgb(244, 236, 225);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px ;

}

h1 {
    color:rgb(95, 109, 219)
}

.nav-pages{
   font-family: 'Courier New', Courier, monospace;
   font-size: 16px;
}

.nav-pages li {
    display:inline;
    margin: 4px;

}

footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 14px;
   margin: 20px;
   text-align: center;
   color: darkcyan;
}

.footer-figure{
    margin-top: 1px;
    color:rgb(63, 7, 7);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.ingredients li {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkred;
    font-size: 20px;
}

li::marker {
    color:rgb(95, 109, 219);
    font-size: 0.9em;
    display: list-item;
    /* content: '!'; */
    
}

.steps {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkred;
    font-size: 20px;
}
h2 {
    border: 3px solid rgb(160, 222, 109);
    display: inline;
    padding: 3px;
    background-color: aqua;
    margin-top: 25px;
}